*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
}
form{
    width: 200px;
    font-size: 1em;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
}
p * {
    display: block;
}
span{
    height: 20px;
}
.error{
    width: 100%;
    padding: 0;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    font-size: 80%;
    opacity: 0;
}

input {
  appearance: none;

  width: 100%;
  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

input:invalid{
    border-color: #900;
    background-color: #fdd;
}
input:focus:invalid{
    outline: none;
}
input:valid{
    border-color: green;
    background-color: lightgreen;
}
.error.active{
    padding: 0.3em;
    opacity: 1;
}
datalist, datalist option{
    display: none;
}

#confirm{
    border-color: #900;
    background-color: #fdd;
}